Docker ldap images downloade use this https://github.com/kumarashishjha/LDAP-SERVER-Docker.git links

Load docker images use below command 

[root@master environment]# docker load -i images-name 

Now create container use below command

[root@master environment]# docker run  ashish/openldap

Create Directory of copy docker data

[root@master environment]# mkdir -p /openldap/var/lib/ldap

[root@master environment]# mkdir -p /openldap/etc/ldap/slapd.d

Now use below command and copy container data in base directory 

[root@master environment]# docker cp 93e85ab6527b:/etc/ldap/slapd.d /openldap/etc/ldap/slapd.d

[root@master environment]# docker cp 93e85ab6527b:/var/lib/ldap /openldap/var/lib/ldap


[root@master /]# docker run --name openldap-server1 -v /openldap/var/lib/ldap:/var/lib/ldap -v /openldap/etc/ldap/slapd.d:/etc/ldap/slapd.d -p 389:389 ashish/openldap
*** CONTAINER_LOG_LEVEL = 3 (info)
*** Set environment for startup files
*** Environment files will be proccessed in this order : 
Caution: previously defined variables will not be overriden.
/container/environment/99-default/default.yaml

To see how this files are processed and environment variables values,
run this container with '--loglevel debug'
*** Running /container/run/startup/:ssl-tools...
*** Running /container/run/startup/slapd...
1048576
*** Set environment for container process
*** Environment files will be proccessed in this order : 
Caution: previously defined variables will not be overriden.
/container/environment/99-default/default.yaml

To see how this files are processed and environment variables values,
run this container with '--loglevel debug'
*** Running /container/run/process/slapd/run...
1048576
5ba4e146 @(#) $OpenLDAP: slapd  (May 23 2018 04:25:19) $
        Debian OpenLDAP Maintainers <pkg-openldap-devel@lists.alioth.debian.org>
TLS: warning: ignoring dhfile
5ba4e14d slapd starting
5ba4e151 conn=1000 fd=12 ACCEPT from IP=192.168.122.42:26105 (IP=0.0.0.0:389)
5ba4e151 conn=1000 op=0 EXT oid=1.3.6.1.4.1.1466.20037
5ba4e151 conn=1000 op=0 STARTTLS
5ba4e151 conn=1000 op=0 RESULT oid= err=0 text=
TLS: can't accept: A TLS fatal alert has been received..
5ba4e151 conn=1000 fd=12 closed (TLS negotiation failure)




[root@master /]# ldapsearch -x -D "cn=admin,dc=keenable,dc=in" -b "dc=keenable,dc=in" -w redhat@123# extended LDIF
#
# LDAPv3
# base <dc=keenable,dc=in> with scope subtree
# filter: (objectclass=*)
# requesting: ALL
#

# keenable.in
dn: dc=keenable,dc=in
objectClass: top
objectClass: dcObject
objectClass: organization
o: Example Inc.
dc: keenable

# admin, keenable.in
dn: cn=admin,dc=keenable,dc=in
objectClass: simpleSecurityObject
objectClass: organizationalRole
cn: admin
description: LDAP administrator
userPassword:: e1NTSEF9aUdSTzJwc1NrUnVSVWwxZmdGaWpTSXVLU2toM3pBS0k=

# test, keenable.in
dn: cn=test,dc=keenable,dc=in
cn: test
objectClass: simpleSecurityObject
objectClass: organizationalRole
userPassword:: e1NTSEF9bUxPeWpNbjF4S3Y5NFFjMlFEY0F2MGhabmt3WVZ1bzY=
description: LDAP read only user

# search result
search: 2
result: 0 Success

# numResponses: 4
# numEntries: 3
[root@master /]# 
